.ButtonIcon{
    background:radial-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%)) ;
    position: relative;
    border-radius:50%;
    width:100px;
    height:100px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 2px 1px 2px rgb(218, 121, 42);
 


}

.ButtonIcon::before{
    position: absolute;
    content:"";
    display:block;
    width:70px;
    height:70px;
    border-radius:50%;
    background: #fff;
    box-shadow: 0px -2px 1px 2px rgb(207, 204, 204);
 
}
 
.icon{
    position: relative;
    z-index: 2;
    width:45px;
}
 
