.Game {
  color: #fff;
  display: flex;
  width: 60%;
  justify-content: space-between;
  height: 60%;
  margin-top: 5em;
}
.player-section {
  position: relative;
 
  text-align: center;
}

.btn-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.house-section {
  position: relative;
  text-align: center;
  
}

.result-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.result-container > p{
  font-size: 3em;
}

.btn-play-again{
  border: none;
  padding:10px;
  border-radius:5px;
  color: hsl(229, 25%, 31%);
  letter-spacing: 1.5px;
  cursor: pointer;
}

.btn-play-again:hover{
  background-color: white;
}